
.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pure-u-offset-1-24 {
	margin-left: 4.1667%;
}

.pure-u-offset-1-12,
.pure-u-offset-2-24 {
	margin-left: 8.3333%;
}

.pure-u-offset-1-8,
.pure-u-offset-3-24 {
	margin-left: 12.5000%;
}

.pure-u-offset-1-6,
.pure-u-offset-4-24 {
	margin-left: 16.6667%;
}

.pure-u-offset-1-5 {
	margin-left: 20%;
}

.pure-u-offset-5-24 {
	margin-left: 20.8333%;
}

.pure-u-offset-1-4,
.pure-u-offset-6-24 {
	margin-left: 25%;
}

.pure-u-offset-7-24 {
	margin-left: 29.1667%;
}

.pure-u-offset-1-3,
.pure-u-offset-8-24 {
	margin-left: 33.3333%;
}

.pure-u-offset-3-8,
.pure-u-offset-9-24 {
	margin-left: 37.5000%;
}

.pure-u-offset-2-5 {
	margin-left: 40%;
}

.pure-u-offset-5-12,
.pure-u-offset-10-24 {
	margin-left: 41.6667%;
}

.pure-u-offset-11-24 {
	margin-left: 45.8333%;
}

.pure-u-offset-1-2,
.pure-u-offset-12-24 {
	margin-left: 50%;
}

.pure-u-offset-13-24 {
	margin-left: 54.1667%;
}

.pure-u-offset-7-12,
.pure-u-offset-14-24 {
	margin-left: 58.3333%;
}

.pure-u-offset-3-5 {
	margin-left: 60%;
}

.pure-u-offset-5-8,
.pure-u-offset-15-24 {
	margin-left: 62.5000%;
}

.pure-u-offset-2-3,
.pure-u-offset-16-24 {
	margin-left: 66.6667%;
}

.pure-u-offset-17-24 {
	margin-left: 70.8333%;
}

.pure-u-offset-3-4,
.pure-u-offset-18-24 {
	margin-left: 75%;
}

.pure-u-offset-19-24 {
	margin-left: 79.1667%;
}

.pure-u-offset-4-5 {
	margin-left: 80%;
}

.pure-u-offset-5-6,
.pure-u-offset-20-24 {
	margin-left: 83.3333%;
}

.pure-u-offset-7-8,
.pure-u-offset-21-24 {
	margin-left: 87.5000%;
}

.pure-u-offset-11-12,
.pure-u-offset-22-24 {
	margin-left: 91.6667%;
}

.pure-u-offset-23-24 {
	margin-left: 95.8333%;
}
