<div class="pure-g">
	<div class="pure-u-offset-1-8 pure-u-5-8">
		<ul id="faq">
			<li id="whatisonitu">
				<i class="fa fa-lg fa-square"></i>&nbsp;What is Onitu ?<br>
				<p class="well">
					Onitu is a free, secure, self hosted, customisable file sharing platform. With Onitu, you can access, share, upload your files from anywhere to your personal space.
				</p>
			</li>
			<li id="howmuchdoesitcost">
				<i class="fa fa-lg fa-square"></i>&nbsp;How much does subscription cost ?<br>
				<p class="well">
					Onitu is completely free of charge. Not only is it free, but it is also open-source (more info about that <a href="#opensource">here</a>).
				</p>
			</li>
			<li id="wheredoesitrun">
				<i class="fa fa-lg fa-square"></i>&nbsp;Can I run it on any device I want ?<br>
				<p class="well">
					The currently supported systems are Windows, Mac and Linux.
				</p>
			</li>
			<li id="supporteddrivers">
				<i class="fa fa-lg fa-square"></i>&nbsp;What file sharing services will be synchronized ?<br>
				<p class="well">
					You can gather your files altogether from several sources, also known as "drivers". The supported drivers are:
					<ul>
						<li>Dropbox</li>
						<li>Amazon S3</li>
						<li>SSH</li>
						<li>FTP</li>
						<li>Local</li>
					</ul>
				</p>
			</li>
		</ul>
	</div>
</div>
