<div class="pure-g">
	<div id="files-list" class="pure-u-offset-1-6 pure-u-5-6">
		<table class="pure-table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>filename</th>
                    <th>type</th>
					<th>size</th>
					<th>owners</th>
					<th></th>
				</tr>
			</thead>

			<tbody ng-repeat="file in files">
				<tr class="pure-table-odd">
					<td><i class="fa fa-eye"></i></td>
					<td><i class="fa fa-download"></i></td>
					<td>{{file.filename}}</td>
                    <td><i class="fa" ng-class="fileTypeToAwesomeClass(file.type)"></i></td>
					<td>{{file.size | fileSize}}</td>
					<td><span ng-repeat="owner in file.owners">{{owner}}</span></td>
					<td><i class="fa fa-check"></i></td>
				</tr>
			</tbody>
		</table>
	</div>

    <div class="pure-u-offset-1-6 pure-u-1-6">
        <br>
        <button class="pure-button pure-button-primary">Upload</button>
    </div>
</div>
