doctype html
html(lang="fr" ng-app="facet")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    )
    title Onitu
    link(rel="stylesheet" href="app.css")
  body
    #container.container-fluid
      .row
        #sidebar.col-sm-3.col-md-2
          nav.navbar.navbar-default.navbar-inverse(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse'
                                   ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img(src="images/logo.png" alt="Onitu")

            .collapse.navbar-collapse.navbar-ex1-collapse(ng-class="{'in':!navCollapsed}")
              ul.nav.navbar-nav
                li(ui-sref-active="active")
                  a(ui-sref="files") Files
                li(ui-sref-active="active")
                  a(ui-sref="drivers") Drivers

        #main.col-sm-9.col-md-10(ui-view)

    script(src="app.js")
